# Database
*.db

# VS Code
.vscode/

# Python
venv/
__pycache__/
*.pyc

# Environment
.env

# Node
node_modules/
.next/

# Qdrant local storage
qdrant_storage/

# Vector databases
backend/app/vectorstore/qdrant_data/

backend/.env